# Include documentation and license
include README.md
include LICENSE
include docs/*.rst
include *.yaml
include *.json

# Exclude development and test files
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
global-exclude .git*
global-exclude .DS_Store
global-exclude .venv
global-exclude .vscode
prune tests
prune examples
prune scripts
prune tools